<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>Add Genre!</h1>
  <% if (user) { %>
    <form action="/genres" method="POST">
      <label>
        Name:
        <input type="text" name="name" autocomplete="off">
      </label>
      <label>
        Location Origin:
        <input type="text" name="locationOrigin" autocomplete="off">
      </label>
      <label>
        Year Recognized:
        <input type="text" name="yearRecognized" autocomplete="off">
      </label>
      <label>
        Parent Genre:
        <input type="text" name="parentGenre" autocomplete="off">
      </label>
      <label>
        Liked?
        <input type="checkbox" name="liked">
      </label>
      <button type="submit">Add Genre</button>
    </form>
  <% } %>
  <h2>All Genres!</h2>
	<ul>
  <% genres.forEach(genre => { %>
        <a href="/genres/<%= genre._id %>"><%= genre.name %></a> is <%= genre.liked ? 'liked' : 'not liked' %>
      </li>
      <li>
  <% }) %>
  </ul>
</section>

<%- include('../partials/footer') %>