<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>Genre!</h1>
  <% if (user) { %>
    <h2>Add a Genre!</h2>
    <form action="/genres" method="POST">
      <label>
        Name: 
        <input type="text" name="name" autocomplete="off">
      </label>
      <label>
        Location Origin: 
        <input type="text" name="locationOrigin" autocomplete="off">
      </label>
      <label>
        Year Recognized: 
        <input type="text" name="yearRecognized" autocomplete="off">
      </label>
      <label>
        Parent Genre: 
        <input type="text" name="parentGenre" autocomplete="off">
      </label>
      <label>
        Liked?
        <input type="checkbox" name="liked">
      </label>
      <button type="submit">Add Genre</button>
    </form>
  <% } %>
  <h2>All the Genre!</h2>
	<ul>
  <% genre.forEach(genre => { %>
    <li><%= genre.name %> is <%= genre.liked ? 'liked' : 'not liked' %></li>
    <li><%= genre.locationOrigin%></li>
    <li><%= genre.yearRecognized%></li>
    <li><%= genre.parentGenre%></li>
  <% }) %>
  </ul>
</section>

<%- include('../partials/footer') %>