<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>


<main>
  <h3><%= user ? user.profile.name : "" %></h3>
  <% if (user?.profile.avatar) { %>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
  <% } %>
  <p>Build your music genre knowlegde while 
    keeping track of your favorite artists 
    & albums in those genres.</p>
</main>

<%- include('./partials/footer') %>

